#root {
  min-height: 100vh;
}
.footer {
  background: #0f172a;
  color: #e5e7eb;
  /* padding: 80px 8% 30px; */
  font-size: 0.95rem;
  width: auto;
}

/* Top Section */
.footer-top {
  text-align: center;
  max-width: 800px;
  width: auto;
  margin: 0 auto 10px;
}

.footer-logo {
  height: 86px;
}

.footer-subtext {
  color: #9ca3af;
  margin-bottom: 24px;
}

.footer-form {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-form input {
  padding: 12px 16px;
  border-radius: 999px;
  border: none;
  width: 260px;
  outline: none;
}

.footer-form button {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background: #e11d48;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.footer-form button:hover {
  background: #be123c;
}

/* Consent */
.footer-consent {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 0.85rem;
  color: #9ca3af;
}

.footer-consent input {
  margin-right: 6px;
}

/* Links */
.footer-links {
  border-top: 1px solid rgba(255,255,255,0.08);
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #cbd5f5;
  text-decoration: none;
}

.footer-links a:hover {
  color: #e11d48;
}

/* Bottom */
.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.08);
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* Social */
.footer-social a {
  margin-right: 14px;
  color: #cbd5f5;
  text-decoration: none;
  font-weight: 600;
  padding-left: 10px;
}

.footer-social a:hover {
  color: #e11d48;
}

/* Center */
.footer-center {
  text-align: center;
}

.footer-center img {
  height: 28px;
  display: block;
  margin: 0 auto 4px;
}

.footer-center span {
  font-size: 0.85rem;
  color: #9ca3af;
}

/* Copyright */
.footer-copy {
  text-align: right;
  color: #9ca3af;
  padding-right: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-form {
    flex-direction: column;
  }

  .footer-consent {
    flex-direction: column;
    gap: 10px;
  }

  .footer-bottom {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 16px;
  }

  .footer-copy {
    text-align: center;
  }
}
